<div class='featured_divs'>
	<div class='blog_header'>
		<h1 class='text-center'>ABOUT ME</h1>
	</div>
	<hr style="border-top: 1px solid #23527C">
<!-- 	<div class='row'>

		<div class="col-sm-6">
			<div ui-view="columnOne"></div>
		</div>
		<div class="col-sm-6">
			<div ui-view="columnTwo"></div>
		</div>

	</div> -->



	<div class='blog_body'>
		<p>
			<p class='text-center'><strong>LET'S BREAK</strong></p>
			JB Modern Inserts will host BREAKS consisting of factory-sealed hobby/retail boxes, or factory-sealed cases of the newest and most popular brands in the collecting world. With breaks from various sports (e.g., basketball, football, etc.), we offer an inexpensive and fun way to collect your favorite teams or the hottest rookies or athletes in their respective sport. If you’re an avid sports card collector or just a casual fan looking to get into collecting, our breaks are meant for you.
			<br>
		</p>
		<p>
			<p class='text-center'><strong>WHY US</strong></p>
			We’re fans and collectors just like you. We just get a thrill out of opening boxes and packs, hoping to land that next big hit of the next up-and-coming star player. We aim to offer the lowest break prices and, unlike other break sites, make sure that we send out all cards from the team(s) that you purchased. Our breaks aren’t just limited to the autographed, memorabilia or numbered hits; we make sure to send you all base cards, parallels or inserts for your team as well!
			<br>
		</p>
	</div>
</div>