<div class='row featured_divs' ng-controller='MainController'>
<!-- 	<div class='blog_header'>
		<h1 class='text-center'>Projects</h1>
	</div> -->

	<div class='col-sm-12'>
		<h1 class='text-center header'>JB Modern Inserts</h1>
	</div>
	<div class='col-sm-3'>
		<div class="description">
			E-commerce style project showcasing personal sports memorabilia collection, along with card breaks and personal blogs.<br><br>
			Technologies Used:
			<ul>
				<li>MongoDB</li>
				<li>Express.js</li>
				<li>AngularJS</li>
				<li>Node.js</li>
				<li>Add-Ons:</li>
					<ul class='add-ons'>
						<li>UI Bootstrap</li>
						<li>SendGrid - Email Service</li>
						<li>ngCart - Shopping Cart Module</li>
						<li>InfiniteScroll</li>
					</ul>
			</ul>
			<a href="https://www.jbmoderninserts.com">Website</a>
		</div>
	</div>
	<div class='col-sm-9'>
		<uib-carousel interval='myInterval' no-wrap='noWrapSlides'>
			<uib-slide ng-repeat='slide in jbmi_slides' active='slide.active'>
				<a href="#/{{slide.product_type}}">
					<img src='{{slide.image}}' alt='{{slide.name}}' style='margin:auto;'>
					<div class='carousel-caption'>
						<h4 class='carousel_link'>{{slide.name}}</h4>
					</div>
				</a>
			</uib-slide>
		</uib-carousel>
	</div>

</div>