/*body {
	font-family: Avenir, Helvetica, sans-serif;
	padding: 50px;
	width: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#body-content img {
	width: 100%;
	opacity: 0.5;
}*/

/*#name-banner {
	text-align: center;
	font-family: "Dosis", Avenir, sans-serif;
	font-size: 6rem;
}*/

/*.custom-background {
	position: relative;
	background: #5C97FF;
	overflow: hidden;
}*/
/*
.custom-background {
	content: ' ';
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0.5;
	z-index: -1;
	min-height: 500px;
	background-attachment: scroll;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.custom-background h1 {
	padding: 50px;
	text-align: center;
	z-index: 2;
	position: relative;
	color: #FFFFFF;
}

#code-background {
	background-image: url(../images/code_bkg.png);
}

#jbmi-background {
	background-image: url(../images/jbmi_bkg.png);
}

#main-content {
	width: 100%;
	padding: 10px;
}

.ft_container{
	width: auto;
	padding: 0px 15px;
	padding-right: 40px;
}
.ft_container .text-muted{
	margin: 20px 0px;
	display: inline-block;
}

a {
  color: #00B7FF;
}*/

/* ###### Page Scroll Demo #######*/
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #267481;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
}
.cd-section .main_content {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 2.4rem;
  display: table;
}
.cd-section .projects {
	display: block;
}
.cd-section .techs {

}
.cd-section .contact {

}
/*.cd-section h1 {
  line-height: 50vh;
  text-align: center;
  font-size: 4.0rem;
}*/
/*.cd-section .main_content h2 {
  font-family: "Dosis", Avenir, sans-serif;
  line-height: 100vh;
  text-align: center;
  font-size: 2.4rem;
}*/
.cd-section h2 {
  font-family: "Alegreya Sans", Avenir, sans-serif;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-shadow: 2px 2px gray;
  font-size: 4.5rem;
}
.cd-section h3 {
  font-family: "Alegreya Sans", Avenir, sans-serif;
  vertical-align: middle; 
  text-shadow: 2px 2px gray;
  font-size: 4.5rem;
  /* Border around titles */
  background-color: black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-radius: 10px;
}
.cd-section:first-of-type > .bkg_page {
  background-color: #2b334f;
}
.cd-section:first-of-type > .bkg_page::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
.cd-section:nth-of-type(2) > .bkg_page {
  background-color: #2e5367;
}
.cd-section:nth-of-type(3) > .bkg_page {
  background-color: #267481;
}
.cd-section:nth-of-type(4) > .bkg_page {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > .bkg_page {
  background-color: #f06a59;
}
[data-animation="parallax"] .cd-section > .bkg_page, [data-animation="fixed"] .cd-section > .bkg_page, [data-animation="opacity"] .cd-section > .bkg_page {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:first-of-type > .bkg_page, [data-animation="fixed"] .cd-section:first-of-type > .bkg_page, [data-animation="opacity"] .cd-section:first-of-type > .bkg_page {
  background-image: url("../images/code_bkg.png");
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > .bkg_page, [data-animation="fixed"] .cd-section:nth-of-type(2) > .bkg_page, [data-animation="opacity"] .cd-section:nth-of-type(2) > .bkg_page {
  background-image: url("../images/languages.png");
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > .bkg_page, [data-animation="fixed"] .cd-section:nth-of-type(3) > .bkg_page, [data-animation="opacity"] .cd-section:nth-of-type(3) > .bkg_page {
  background-image: url("../images/starry_night.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > .bkg_page, [data-animation="fixed"] .cd-section:nth-of-type(4) > .bkg_page, [data-animation="opacity"] .cd-section:nth-of-type(4) > .bkg_page {
  background-image: url("../images/coachella.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > .bkg_page, [data-animation="fixed"] .cd-section:nth-of-type(5) > .bkg_page, [data-animation="opacity"] .cd-section:nth-of-type(5) > .bkg_page {
  background-image: url("../images/halfdome.jpg");
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 6rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > .bkg_page {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > .bkg_page {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > .bkg_page, [data-animation="gallery"] .cd-section > .bkg_page, [data-animation="catch"] .cd-section > .bkg_page {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > .bkg_page {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  list-style: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}

.cd-section .footer {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  /*right: 50%;*/
  top: 60%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  list-style: none;
}

.featured_divs {
	padding: 20px;
	border: 2px solid gray;
	border-radius: 10px;
	background: white;
	font-family: "Slabo 27px", Avenir, sans-serif;
}

.featured_divs:before {
	opacity: 0.5;
}

.description {
	color: black;
	font-size: 12pt;
	text-align: left;
}

.header {
	color: black;
	margin-top: 0;
}

.btn-primary {
	background: black;
}
.ft_container {
	font-size: 1.75rem;
	font-family: "Slabo 27px", Avenir, sans-serif;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 10px;
}
.contact_container {
	font-size: 4rem;
	font-family: "Slabo 27px", Avenir, sans-serif;
	line-height: 75vh;
}
.experience_container {
	margin-left: 10px;
}
.experience {
	border: 2px solid gray;
	border-radius: 10px;
	background: white;
	margin: 3px;
	width: 66%;
	height: 25vh;
	opacity: 0.6;
}
.no_experience {
	margin: 3px;
	width: 16%;
	height: 25vh;
}
.inner_content {
	color: black;
	text-align: left;
	font-family: "Slabo 27px", Avenir, sans-serif;
	/*z-index: 1;*/
}
.add-ons {
	font-size: 1rem;
}

/*
.featured_divs {
	position: relative;
	overflow: hidden;
	font-family: "Slabo 27px", Avenir, sans-serif;
}

.featured_divs:before {
	content: '';
	position: absolute;
	padding: 20px;
	opacity: 0.5;
	background: white;
	border: 2px solid gray;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	right: 0;
	background-position: 50% 0;
	background-size: cover;
}*/

